<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Fraud Detection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--STYLE SHEET-->
    <style>
      html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
      .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
      }

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }

      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

    </style>

</head>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-theme-l1">Main</a>
    <a href="/scores" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Flagged Cases</a>
    <a href="/summary" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Summary</a>
    <a href="/data" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Data</a>
    <a href="/perfromance" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Detector Performance</a>
    <a href="/results" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Results</a>
    <a href="/recommendations" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Recommendations</a>
  </div>
</div>



<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        {% block content %}{% endblock %}
    </div>
</div>

<footer id="myFooter" class = "footer">
  <div class="w3-container w3-theme-l5 w3-padding-16">
    <a href="https://www.linkedin.com/in/kenjialford/" style="text-decoration:none;">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Kenji" class="avatar">
    </a>
      
    <a href="https://www.linkedin.com/in/vmccready/" style="text-decoration:none;">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQEkBNEGYfxwsg/profile-displayphoto-shrink_200_200/0/1517509377736?e=1623888000&v=beta&t=ttK4HwJ2TUnay_y6dlssbNumJ5uLDCw5OPyY1nwJF4k" alt="Vinson" class="avatar">
    </a>

    <a href="https://www.linkedin.com/in/andrea-little-b097b2121/" style="text-decoration:none;">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQGtt4FEOfLl9w/profile-displayphoto-shrink_200_200/0/1618376729477?e=1623888000&v=beta&t=2Z437EiL9tts2WhTeUOq15QpXKU93IVIW5w5VMNvbAM" alt="Andrea" class="avatar">
    </a>  

    <a href="https://www.linkedin.com/in/marketne/" style="text-decoration:none;"> 
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQEgCSj6s694kA/profile-displayphoto-shrink_800_800/0/1566619198377?e=1623888000&v=beta&t=G9J94UUekjrKAy5BVvW0Tb_A05gdY2J8rVTiKnHgCmA" alt="Marketne" class="avatar">
    </a>
    <a href="https://github.com/vmccready/fraud-detection" style="text-decoration:none;"> 
      <img src="https://media-exp1.licdn.com/dms/image/C560BAQGO4Mxhy8KAgQ/company-logo_200_200/0/1564764741123?e=1626912000&v=beta&t=vBe3y9FMTnCTOjMRpnmalSfe4Roy3tAatsIYW-y6e48" alt="Github" class="avatar">
    </a>
  </div>
</footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>


