{% extends 'base.html' %}



{% block content %}


<h1 class="w3-text-teal">Fraud Detection</h1>
<p>Thank you for seeking our services for fraud detection. On this website you'll find a summary of our process, some insight into our methods using machine learning, along with a breakdown of currently flagged cases with their associated risk levels and the probability of each case being an actual fraud.</p>
<br>
<p>We hope you find this portal, the information contained within, and our methods useful in deciding whether or not to retain our services.</p>
{% endblock %}




